body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.box {
  width: 300px;
  background-color: #fff;
  color: #333;

  /* Box Model Properties */
  padding: 20px;
  border: 5px solid #4caf50;
  margin: 40px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
